Package: s76-keyboard-colors
Version: _version_
Section: utilities
Priority: optional
Architecture: all
Maintainer: Rob Landers 
Description: Animated colors for System76 machines
 This package allows you to have animated colors on your keyboard.
