name: Builder

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.0.101
      - name: Run Tests
        working-directory: csharp
        run: dotnet test --settings coverletArgs.runsettings
      - name: Stage code coverage
        working-directory: csharp
        run: mv UnitTests/TestResults/*/coverage.info .
      - name: Save coverage as artifact
        uses: actions/upload-artifact@v1
        with:
          name: coverage-report
          path: csharp/coverage.info
      - name: Upload coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./csharp/coverage.info
  deb:
    
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.0.101
      - name: apt update
        run: apt-get update
      - name: install deps
        run: apt-get install -y build-essentials gnupg pbuilder ubuntu-dev-tools apt-file dh-make bzr-builddeb
      - name: Build Unsigned Deb
        run: make package.deb
      - name: Save deb as artifact
        uses: actions/upload-artifact@v1
        with:
          name: package.deb
          path: package.deb
